[user]
	name = Samuel P. Bowman
	email = samuelpbowman@users.noreply.github.com
[pull]
	ff = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
